root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.cs]
# CSharpier will use this as its print width
max_line_length = 120

[*.{json,yml,yaml,csproj,slnx}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
